@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  /* Tema Dark */
  --color-primary: #f3f3f3;
  --bg-primary: #f3f3f3;
  --border-primary: #f3f3f3;
  --color-secondary: #dbdbdb;
  --bg-secondary: #dbdbdb;
  --bg-background: #161616;
  --border-secondary: #dbdbdb;
  --color-text: #f3f3f3;
  --stroke-muted: #f3f3f3;
  --fill-muted: #f3f3f3;
}

[data-theme="sky"] {
  --color-text: #fefefe;
  --stroke-muted: #eacda3;
  --fill-muted: #f6e2c3;
  --bg-primary: #1e92e8;
  --border-primary: #5a4a2f;
  --color-background: #f9ecd1;
  --bg-background: #69c2ee;
  --border-background: #a87d4d;
  --bg-secondary: #fefefe;
  --border-secondary: #a87d4d;
  --gradient-stop-1: #d0ecf5;
  --gradient-stop-2: ##1e92e8;
  --gradient-stop-3: ##1965ae;
  --gradient-black-hole-1: #1e92e8;
  --gradient-black-hole-2: #d0ecf5;
}

[data-theme="night"] {
  /* Tema Dark */
  --color-text: #dbdbdb;
  --stroke-muted: #bfa8ff;
  --fill-muted: #bfa8ff;
  --bg-primary: #282828;
  --border-primary: #282828;
  --color-background: #161616;
  --bg-background: #161616;
  --fill-background: #161616;
  --border-background: #161616;
  --bg-secondary: #dbdbdb;
  --border-secondary: #dbdbdb;
  --gradient-stop-1: #aaaaff;
  --gradient-stop-2: #4b4bdf;
  --gradient-stop-3: #2a2adb;
  --gradient-black-hole-1: #161616;
  --gradient-black-hole-2: #aaaaff;
}

[data-theme="spring"] {
  /* Tema Spring */
  --color-text: #748420;
  --stroke-muted: #748420;
  --fill-muted: #748420;
  --bg-primary: #748420;
  --border-primary: #748420;
  --color-background: #d3e789;
  --bg-background: #d3e789;
  --fill-background: #d3e789;
  --border-background: #d3e789;
  --bg-secondary: #748420;
  --border-secondary: #748420;
  --gradient-stop-1: #fcffc1;
  --gradient-stop-2: #ffe893;
  --gradient-stop-3: #fff9bf;
  --gradient-black-hole-1: #d3e789;
  --gradient-black-hole-2: #f4ffc3;
}

.gradient-stop-1 {
  stop-color: var(--gradient-stop-1);
}
.gradient-stop-2 {
  stop-color: var(--gradient-stop-2);
}
.gradient-stop-3 {
  stop-color: var(--gradient-stop-3);
}

.radio {
  @apply inline-block size-2 cursor-pointer rounded-full border;
}

@font-face {
  font-family: "GT-America";
  src:
    url("/fonts/GT-America-Mono-Regular.woff2") format("woff2"),
    url("/fonts/GT-America-Mono-Regular.woff") format("woff"),
    url("/fonts/GT-America-Mono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT-America-Thin";
  src: url("/fonts/GT-America-thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

/* * {
  border: 1px solid red;
} */

.GT-america {
  font-family: GT-America, sans-serif;
}

.embla__container {
  cursor: grab;
}

body {
  background-color: var(--bg-primary);
  font-family: GT-America-Thin, sans-serif;
}

#option-color::before {
  content: "";
  z-index: -1;
  background-color: blue;
  /* background-color: #161616; */
  width: 20px;
  height: 20px;
  bottom: 1.4px;
  rotate: -90deg;
  left: 99%;
  position: absolute;
  border-top-left-radius: 0.5rem;
}

/* #option-color::after {
  content: "";
  z-index: -1;
  background-color: blue;
  border-radius: 200px 200px 30px 30px;
  -moz-border-radius: 200px 200px 200px 33px;
  -webkit-border-radius: 200px 200px 200px 33px;
  width: 100%;
  height: 100%;
  bottom: 1;
  transform: rotate(90deg);
  width: 12px;
  height: 15px;
  right: -15;
  position: absolute;
} */

.bg-dots {
  /* Add your background pattern here */
  background: var(--bg-background)
    radial-gradient(var(--bg-secondary) 10%, transparent 1%);

  background-size: 12px 12px;
  opacity: 0.5;
}

.bg-dots::before {
  content: "";
  display: inline-block;
  opacity: 0.5;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0%;
  background: var(--bg-background);
  background: linear-gradient(
    180deg,
    var(--bg-background) 32%,
    rgba(0, 212, 255, 0) 100%
  );
}

.bar {
  background-color: var(--bg-background);
  @apply h-screen w-[10vw] origin-top;
}

.cta {
  transform-origin: top;
}
/* border-top-left-radius: .5rem;
    border-bottom-left-radius: 0; */

#id {
  min-height: 100svh;
  min-width: auto;
  height: 100%;
  width: 100%;
}

.background-svg {
  background-color: var(--bg-background);
}

@keyframes rotateGlobe {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.rotate-animation {
  animation: rotateGlobe 20s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

.card-info {
  background-color: var(--bg-secondary);
  color: #161616;
}

/* Override untuk tema night */
[data-theme="sky"] .card-info {
  background-color: var(--bg-primary);
  color: var(--color-background);
}

/* Override untuk tema night */
[data-theme="night"] .card-info {
  background-color: var(--bg-background);
  color: var(--color-text);
}

/* Override untuk tema spring */
[data-theme="spring"] .card-info {
  background-color: var(--color-text);
  color: var(--bg-background);
}
